@import url("/vendor/offline.css");
html, body {
  height: 100vh; }

body {
  color: white;
  font-family: 'Roboto Mono', monospace; }

a {
  color: #1bacb1;
  text-decoration: underline; }

.footer__section, .speakers__index_section, .registration__index_section, .location__index_section, .partners__index_section {
  padding-top: 6rem;
  padding-bottom: 6rem; }
  @media (max-width: 767px) {
    .footer__section, .speakers__index_section, .registration__index_section, .location__index_section, .partners__index_section {
      padding: 1rem;
      padding-top: 3rem; } }

h1, h2, h3, h4, h5 {
  font-weight: 700;
  text-transform: lowercase; }

img {
  border: 0;
  margin: 0;
  padding: 0; }

section {
  color: #616161; }
  section h1, section h2, section h3, section h4, section h5 {
    text-transform: capitalize; }
  section img[src*="city-images"] {
    border: 1px solid #002b38;
    border-radius: 4px;
    padding: 0.3em;
    margin: 0 1em 1em 1em;
    float: right; }
    @media (max-width: 767px) {
      section img[src*="city-images"] {
        max-width: 100%;
        height: auto;
        margin: 1em auto; } }

#registrationModal h1, #registrationModal h2, #registrationModal h3, #registrationModal h4, #registrationModal h5 {
  font-size: 1em;
  color: #1bacb1; }

.content-wrapper {
  position: relative;
  z-index: 1;
  height: 100%; }

.bordered {
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 0; }
  .bordered.dark-border {
    color: rgba(51, 51, 51, 0.6);
    border-color: rgba(51, 51, 51, 0.6); }

.colored {
  color: #1bacb1;
  fill: #1bacb1; }

.image-section {
  color: #fff;
  font-weight: 100;
  background-repeat: no-repeat;
  background-position: center center !important;
  background-size: cover !important; }
  .image-section.parallax {
    box-shadow: inset 0 0 12px 3px rgba(0, 0, 0, 0.75); }
  .image-section.standart-height {
    min-height: 500px; }

.bottom-section-link {
  text-transform: uppercase;
  padding: 7px 17px; }

.card {
  position: relative;
  overflow: hidden;
  height: 100%;
  margin-bottom: 10px;
  padding: 24px 24px 50px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.06), 0 1px 3px rgba(0, 0, 0, 0.15); }

.same-height {
  margin-bottom: 15px; }

.slider {
  padding: 0; }

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }
  .overlay.solid-overlay {
    background: rgba(37, 32, 31, 0.8); }
  .overlay.white-solid {
    background: rgba(255, 255, 255, 0.9); }
  .overlay.gradient-overlay {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.32) 0%, rgba(0, 0, 0, 0) 32%, rgba(0, 0, 0, 0.64) 100%); }

.col-centered {
  float: none;
  margin: 0 auto; }

.cols-centered {
  display: inline-block;
  float: none !important;
  margin-right: -4px;
  text-align: left; }

.hiding {
  opacity: 0; }

.visible {
  opacity: 1; }

.flow-img {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover; }

#typed-cursor {
  font-weight: 100;
  animation: blink .7s infinite;
  opacity: 1; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.animated {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both; }
  .animated.hinge {
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s; }

.appear-animation {
  transition-timing-function: ease-out;
  transform: scale(0); }
  .appear-animation.visible {
    transform: scale(1); }

.top-header {
  position: fixed;
  z-index: 500;
  width: 100%; }
  @media (min-width: 1024px) {
    .top-header {
      padding: 13px 0 0 0; } }
  .top-header.after-scroll {
    padding-top: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.15); }
    .top-header.after-scroll .overlay {
      opacity: 1; }
  .top-header .logo {
    background-image: url("/images/logo-white-bg.svg");
    background-repeat: no-repeat; }
  .top-header .overlay {
    opacity: 0;
    transition: all 0.3s; }

.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  cursor: pointer;
  color: #8b8b8b;
  transition: all .5s; }
  @media (min-width: 1024px) {
    .icon {
      display: none; } }

.logo-header {
  display: block;
  transform: translateY(20px);
  transition: all 0.3s; }
  @media (max-width: 1023px) {
    .logo-header {
      transform: translateX(-15px); } }
  .top-header.after-scroll .logo-header {
    transform: translateY(1px); }
    @media (max-width: 1023px) {
      .top-header.after-scroll .logo-header {
        transform: translateX(-15px); } }
  .logo-header .logo {
    display: inline-block;
    float: left;
    width: 285px;
    height: 80px;
    margin-right: 20px;
    transform: scale(0.7);
    vertical-align: middle; }
    @media (max-width: 1023px) {
      .logo-header .logo {
        transform: scale(0.6); } }

.logo-navbar {
  width: 285px;
  height: 80px;
  margin: 8px 20px 0 -10px;
  transform: scale(0.6);
  vertical-align: middle; }
  @media (min-width: 1024px) {
    .logo-navbar {
      display: none; } }

@media (max-width: 1023px) {
  nav {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    visibility: visible;
    overflow: auto;
    width: 256px;
    height: 100%;
    transition: all 0.5s;
    background: #fff;
    transform: translateX(-100%); } }

.st-menu-open nav {
  transform: translate(0); }

nav ul {
  float: right;
  margin: 0.4rem 0 0 0;
  padding: 0 1rem 0 0;
  list-style: none;
  text-align: left;
  transform: translateY(45px);
  transition: all 0.3s; }
  @media (max-width: 1023px) {
    nav ul {
      line-height: 20px;
      width: 95%;
      margin: 20px 0 0 5px;
      transform: translateY(0); } }
  .top-header.after-scroll nav ul {
    transform: translateY(20px); }
    @media (max-width: 1023px) {
      .top-header.after-scroll nav ul {
        transform: translateY(0); } }

nav li {
  display: inline-block;
  padding: 0 8px;
  vertical-align: middle; }
  @media (max-width: 1023px) {
    nav li {
      display: block; } }
  nav li .btn {
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none; }
    @media (max-width: 1023px) {
      nav li .btn.btn-light {
        color: white !important;
        background-color: #002b38 !important; } }
    nav li .btn.btn-dark {
      color: white !important;
      background-color: #002b38 !important; }
  nav li a {
    font-size: 1rem;
    font-weight: 700;
    transition: all 0.3s;
    text-transform: lowercase;
    color: white; }
    @media (max-width: 1023px) {
      nav li a {
        font-size: 16px;
        display: block;
        padding: 13px 15px 13px 15px;
        transition: all 0.3s;
        text-transform: none;
        color: black !important;
        outline: 0; } }
    nav li a.current, nav li a:hover {
      text-decoration: none;
      color: #cfcfcf; }
      @media (max-width: 1023px) {
        nav li a.current, nav li a:hover {
          color: #1bacb1; } }
    .top-header.after-scroll nav li a {
      color: #002b38; }
      @media (max-width: 1023px) {
        .top-header.after-scroll nav li a {
          top: 20px; } }
      .top-header.after-scroll nav li a.current, .top-header.after-scroll nav li a:hover {
        color: rgba(0, 43, 56, 0.5); }
        @media (max-width: 1023px) {
          .top-header.after-scroll nav li a.current, .top-header.after-scroll nav li a:hover {
            color: #1bacb1; } }

.right-nav-button {
  margin: 11px 11px 0 0;
  transition: all 0.3s;
  opacity: 1;
  display: block; }
  .right-nav-button:nth-of-type(1) {
    margin-right: 65px; }
  .right-nav-button a {
    font-size: 0.9rem; }
  .right-nav-button.right-nav-button-hidden {
    opacity: 0;
    transform: translateY(-50px); }

.icon-menu {
  width: 20px;
  height: 20px;
  color: #e6e6e6; }
  .top-header.after-scroll .icon-menu {
    color: #464646; }

.menu-trigger {
  font-size: 2rem;
  float: right;
  transform: translate(-30px, 10px);
  transition: all 0.3s; }

.bottom-navlinks {
  position: absolute;
  bottom: 26px; }

.bottom-navlinks-small {
  position: relative;
  bottom: 26px;
  margin-top: 75px !important; }

.st-content, .st-container, .st-pusher {
  height: 100%; }

.st-content, .st-container, .st-content-inner {
  position: relative; }

.st-pusher {
  position: relative;
  z-index: 99;
  left: 0;
  transition: all 0.5s; }
  .st-pusher::after {
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    content: '';
    transition: opacity .5s, width .1s .5s, height .1s .5s;
    opacity: 0;
    background: rgba(0, 0, 0, 0.2); }
  .st-menu-open .st-pusher::after {
    z-index: 100;
    width: 100%;
    height: 100%;
    transition: opacity .5s;
    opacity: 1; }

@keyframes callToAction {
  0% {
    opacity: 0;
    transform: translateY(-16px); }
  25% {
    opacity: 1;
    transform: translateY(0); }
  75% {
    opacity: 1;
    transform: translateY(0); }
  85% {
    opacity: 0;
    transform: translateY(-16px); }
  100% {
    opacity: 0;
    transform: translateY(-16px); } }

.footer__section {
  padding: 3rem;
  background-color: #002b38; }

.footer__section .addresses {
  font-size: 0.6em; }
  .footer__section .addresses h5 {
    color: #1bacb1; }
  .footer__section .addresses strong {
    color: #1bacb1; }

.footer__section hr {
  background-color: white;
  margin-bottom: 0 !important; }

.footer__section .social img {
  filter: brightness(100);
  width: 3rem;
  height: 3rem; }

.top-section {
  position: relative;
  min-height: 400px;
  padding-top: 0;
  background: #19a2a8; }
  @media (max-width: 767px) {
    .top-section {
      min-height: 200px;
      padding: 0; } }
  .top-section .gradient-overlay {
    opacity: 0; }
  .top-section.enable-overlay .gradient-overlay {
    opacity: 1; }
  .top-section nav li a {
    color: white; }
    .top-header.after-scroll .top-section nav li a {
      color: #002b38; }
    .top-section nav li a.btn {
      color: #002b38; }

.jumbotron {
  padding: 300px 0 0 0;
  color: #fff;
  background: 0; }
  @media (max-width: 767px) {
    .jumbotron {
      padding-top: 130px;
      padding-left: 15px;
      padding-bottom: 5px; } }
  @media screen and (min-width: 768px) {
    .jumbotron {
      padding-bottom: 0; } }

.session__section {
  color: #1bacb1; }
  .session__section .session h1, .session__section .session h2, .session__section .session h3, .session__section .session h4, .session__section .session h5 {
    text-transform: capitalize; }
  .session__section .session .speaker h4 {
    color: #002b38; }
  .session__section .session .name {
    margin-top: 0 !important; }
  .session__section .session .photo {
    margin-bottom: 1em; }
    .session__section .session .photo img {
      border: 2px solid #1bacb1;
      margin-bottom: 1em;
      height: 350px;
      width: 350px; }
  .session__section .session .tags span {
    font-weight: 700;
    font-size: 0.8em; }
  .session__section .session .description > div {
    padding-left: 0.5em;
    background-color: white;
    opacity: 0.8; }
    @media (min-width: 767px) {
      .session__section .session .description > div {
        padding-left: 1.5em;
        padding-right: 1em; } }
  .session__section .session .description > * > div {
    margin-top: 0.5em;
    margin-bottom: 1.5em; }
  .session__section .session .role {
    font-size: 0.9em;
    font-weight: 700;
    color: #616161; }
  .session__section .session .bio {
    font-size: 0.8em;
    color: #616161; }
  .session__section .session .session {
    border: 1px solid #1bacb1;
    padding-left: 0.6em;
    padding-top: 0.3em;
    padding-right: 0.3em;
    padding-bottom: 0.3em; }
    .session__section .session .session h5 {
      border-left: 3px solid #1bacb1;
      color: #002b38;
      font-size: 1.2em;
      padding-left: 0.6em; }
    .session__section .session .session .abstract {
      margin-top: 1em;
      font-size: 0.9em;
      color: #616161; }

.speakers__section {
  color: #1bacb1; }
  .speakers__section .speaker {
    border: 2px solid #1bacb1; }
    .speakers__section .speaker h1, .speakers__section .speaker h2, .speakers__section .speaker h3, .speakers__section .speaker h4, .speakers__section .speaker h5 {
      text-transform: capitalize; }
    .speakers__section .speaker img {
      width: 100%; }
    .speakers__section .speaker .name h1, .speakers__section .speaker .name h2, .speakers__section .speaker .name h3, .speakers__section .speaker .name h4, .speakers__section .speaker .name h5 {
      margin: 0; }
    @media (min-width: 767px) {
      .speakers__section .speaker .description > div {
        padding-left: 1.5em;
        padding-right: 1em; } }
    .speakers__section .speaker .description > * > div {
      margin-bottom: 1em; }
    .speakers__section .speaker .role {
      font-size: 0.8em;
      color: #616161; }
    .speakers__section .speaker .session {
      border: 1px solid #1bacb1;
      padding-left: 0.6em;
      padding-top: 0.3em;
      padding-right: 0.3em;
      padding-bottom: 0.3em; }
      .speakers__section .speaker .session h5 {
        border-left: 2px solid #1bacb1;
        color: #002b38;
        font-size: 0.9em;
        padding-left: 0.6em;
        margin-bottom: 0; }
    .speakers__section .speaker .tags span {
      font-size: 0.8em; }

.agenda__section h3 {
  padding: 0.4em; }

.agenda__section .header {
  background-color: #fafafa;
  border-top: 1px solid #dee2e6;
  border-bottom: 2px solid #dee2e6; }

.agenda__section .row {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #e8eff7; }
  .agenda__section .row:hover:not(.header) {
    background: #f5f5f5; }
  .agenda__section .row:last-child {
    margin-bottom: 30px;
    border-bottom: 3px solid #dee2e6; }
  .agenda__section .row .mobile-hour {
    padding-bottom: 10px;
    border-bottom: 1px dashed #e8eff7; }
  .agenda__section .row .mobile-track:not(:last-child) {
    border-bottom: 1px dashed #e8eff7; }
  .agenda__section .row .agenda-element .tags {
    font-size: x-small; }
  .agenda__section .row .agenda-element .abstract {
    font-size: small; }

.hero__index_section {
  color: #002b38; }
  .hero__index_section {
    height: 100%;
    background-color: #1bacb1;
    background-image: url("/images/pozitive-key-visual.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; }
  .hero__index_section .hero-content {
    padding: 3rem; }
    @media (max-width: 767px) {
      .hero__index_section .hero-content {
        padding: 1rem; } }
  .hero__index_section .hero-content .logo {
    height: 85px;
    width: 340px; }
    @media (max-width: 767px) {
      .hero__index_section .hero-content .logo {
        height: 60px;
        width: 240px; } }
  .hero__index_section .date {
    color: white;
    font-weight: 500;
    font-size: 3.75em; }
    @media (max-width: 767px) {
      .hero__index_section .date {
        font-size: 2.75em; } }
  .hero__index_section .city {
    font-weight: 700;
    font-size: 6em; }
    @media (max-width: 767px) {
      .hero__index_section .city {
        font-size: 4em; } }
  .hero__index_section .hashtag {
    font-weight: 700;
    font-size: 1.5em; }
    .hero__index_section .hashtag .arrow-down img {
      filter: brightness(100);
      width: 3rem;
      height: 3rem; }
    .hero__index_section .hashtag .arrow-down a {
      position: 1313/absolute;
      left: 50%;
      animation: callToAction 3.5s linear 0s infinite; }
      @media (max-width: 767px) {
        .hero__index_section .hashtag .arrow-down a {
          margin-left: -40px;
          bottom: 50px; } }
    @media (max-width: 767px) {
      .hero__index_section .hashtag {
        font-size: 1em; } }

.speakers__index_section {
  background-color: #002b38; }

.speakers__index_section h3 {
  color: #1bacb1; }

.speakers__index_section .speaker {
  color: #1bacb1;
  background-color: white;
  margin: 0 1rem 1rem 1rem;
  padding: 0.8rem 2rem 0.8rem 2rem; }
  .speakers__index_section .speaker h4 {
    font-size: 1rem; }
  .speakers__index_section .speaker h5 {
    font-size: 0.8rem; }
  .speakers__index_section .speaker img {
    max-height: 250px;
    max-width: 250px;
    padding-bottom: 0.5rem; }

.registration__index_section {
  color: #002b38; }

.registration__index_section .btn {
  color: white;
  font-weight: 700;
  background-color: #1bacb1;
  border-color: #1bacb1;
  text-transform: lowercase; }

.registration__index_section .ideas {
  color: white;
  background-color: #002b38;
  z-index: -1; }
  .registration__index_section .ideas hr {
    background-color: white;
    margin-top: 0.2rem !important; }
  @media (min-width: 767px) {
    .registration__index_section .ideas {
      min-height: 25em; } }

.registration__index_section .tickets {
  background-color: #1bacb1;
  background-image: url("/images/pozitive-key-visual.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-height: 25rem; }

.registration__index_section .tickets .title {
  color: white;
  font-weight: 700;
  font-size: 2rem; }

.registration__index_section .tickets .price {
  font-weight: 700;
  color: #002b38;
  font-size: 5rem; }

@media (min-width: 767px) {
  .registration__index_section .tickets {
    position: absolute;
    left: 50%;
    transform: translateY(-112%);
    z-index: -1; } }

.location__index_section {
  color: white; }
  .location__index_section {
    background-color: #1bacb1; }
    @media (min-width: 767px) {
      .location__index_section {
        min-height: 80%; } }
  .location__index_section .address {
    background-color: #002b38; }
    @media (min-width: 767px) {
      .location__index_section .address {
        min-height: 25em; } }
    .location__index_section .address .location {
      font-size: 1.2rem; }
  .location__index_section .map {
    overflow: hidden; }
    @media (min-width: 767px) {
      .location__index_section .map {
        position: absolute;
        left: 50%;
        transform: translateY(-72%); } }

.partners__index_section {
  padding-bottom: 10rem; }

.partners__index_section h3, .partners__index_section h4 {
  color: #1bacb1;
  padding-top: 5rem; }

.partners__index_section img {
  margin: 0.6rem 2rem;
  max-height: 100px;
  max-width: 200px;
  -webkit-filter: grayscale(1);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(1); }

.partners__index_section img:hover {
  filter: grayscale(0); }

.partners__index_section .gold img {
  max-height: 120px;
  max-width: 240px; }

.partners__index_section .main img {
  max-height: 300px;
  max-width: 600px; }
  @media (max-width: 767px) {
    .partners__index_section .main img {
      max-width: 90%; } }
