// @import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
@import url('/vendor/offline.css'); 

// Third-party
// @import "../node_modules/bootstrap/scss/bootstrap.scss";

$font-light: 100;
$font-regular: 300;
$font-bold: 500;
$font-extra-bold: 700;
$color-main: #1bacb1;
$color-secondary: #002b38;

html, body {
    height: 100vh;
}

body {    
    color: white;
    font-family: 'Roboto Mono', monospace;    
}

a {
    color: $color-main;
    text-decoration: underline;
}

%base-section {
    padding-top: 6rem;
    padding-bottom: 6rem;

    @media (max-width : 767px) { 
        padding: 1rem;
        padding-top: 3rem;
    }
}

h1, h2, h3, h4, h5 {
    font-weight: $font-extra-bold;
    text-transform: lowercase;
}    

.hero__section {
    
    color: $color-secondary;
    
    & {
        height: 100%;         
        background-color: $color-main;
        background-image: url('/images/pozitive-key-visual.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;    
    }

    .hero-content {
        padding: 3rem;

        @media (max-width : 767px) { 
            padding: 1rem;
        }        
    }

    .logo {
        height: 85px;
        width: 340px;

        @media (max-width : 767px) { 
            height: 60px;
            width: 240px;    
        }
    }    

    .date {
        color: white;
        font-weight: $font-bold;
        font-size: 3.75em;

        @media (max-width : 767px) { 
            font-size: 2.75em;
        }
    }
 
    .city {
        font-weight: $font-extra-bold;
        font-size: 6em;

        @media (max-width : 767px) { 
            font-size: 4em;
        }
    }
    
    .hashtag {
        font-weight: $font-extra-bold;
        font-size: 1.5em;

        .arrow-down {
            img {
                filter: brightness(100);
                width: 3rem;
                height: 3rem;               
            }

            a {
                position: 1313/absolute;
                left: 50%;            
                animation: callToAction 3.5s linear 0s infinite;

                @media (max-width : 767px) { 
                    margin-left: -40px;
                    bottom: 50px;
                }
            }
        }

        @media (max-width : 767px) { 
            font-size: 1em;
        }
    }
}

.speakers__section {
    & {
        @extend %base-section;
        background-color: $color-secondary;
    }

    h3 {        
        color: $color-main;
    }

    .speaker {
        color: $color-main;
        background-color: white;
        margin: 0 1rem 1rem 1rem;
        padding: 0.8rem 2rem 0.8rem 2rem;

        h4 {
            font-size: 1rem;
        }

        h5 {
            font-size: 0.8rem;
        }

        img {
            max-height: 250px;
            max-width: 250px;                
            padding-bottom: 0.5rem;
        }
    }
}

.registration__section {

    & {
        @extend %base-section;        
        color: $color-secondary;
    }    

    .btn {
        font-weight: $font-extra-bold;
        background-color: $color-main;
        border-color: $color-main;
        text-transform: lowercase;
    }

    .ideas {
        color: white;
        background-color: $color-secondary; 
        z-index: -1;

        hr {
            background-color: white;
            margin-top: 0.2rem !important;
        }

        @media (min-width : 767px) { 
            min-height: 25em;
        }
    }

    .tickets {      

        & {
            background-color: $color-main;
            background-image: url('/images/pozitive-key-visual.png');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            min-height: 25rem;  
        }

        .title {
            color: white;
            font-weight: $font-extra-bold;
            font-size: 2rem;
        }

        .price {
            font-weight: $font-extra-bold;
            color: $color-secondary;
            font-size: 5rem;
        }

        @media (min-width : 767px) { 
            position: absolute;
            left: 50%;
            transform: translateY(-112%);
            z-index: -1;
        }         
    }
}

.location__section {
    & {
        @extend %base-section;
        background-color: $color-main;

        @media (min-width : 767px) { 
            min-height: 80%;
        }        
    }

    .address {
        background-color: $color-secondary;        

        @media (min-width : 767px) { 
            min-height: 25em;
        }

        .location {
            font-size: 1.2rem; 
        }
    }

    .map {
        overflow: hidden;

        @media (min-width : 767px) { 
            position: absolute;
            left: 50%;
            transform: translateY(-72%);
        }        
    }
}

.partners__section {

    & {
        @extend %base-section;
        padding-bottom: 10rem;
    }

    h3, h4 {
        color: $color-main;
        padding-top: 5rem;
    }

    img {    
        margin: 0.6rem 2rem;
        max-height: 100px;
        max-width: 200px;            
        -webkit-filter: grayscale(1); /* Safari 6.0 - 9.0 */
        filter: grayscale(1);
    }

    img:hover {
        filter: grayscale(0);
    }

    .gold {
        img {
            max-height: 120px;
            max-width: 240px;
        }
    }

    .main {
        img {
            max-height: 300px;
            max-width: 600px;
            @media (max-width : 767px) { 
                max-width: 90%;
            }            
        }
    }
}

.footer__section {

    & {
        @extend %base-section;
        padding: 3rem;
        background-color: $color-secondary;        
    }

    .addresses {
        font-size: 0.6em;

        h5 {
            color: $color-main;
        }

        strong {
            color: $color-main;
        }    
    }

    hr {
        background-color: white;
        margin-bottom: 0 !important;
    }


    .social {
        img {
            filter: brightness(100);
            width: 3rem;
            height: 3rem;
        }
    }

}

@keyframes callToAction {
    0% {
        opacity: 0;
        transform: translateY(-16px);
    }
    25% {
        opacity: 1;
        transform: translateY(0);
    }
    75% {
        opacity: 1;
        transform: translateY(0);
    }
    85% {
        opacity: 0;
        transform: translateY(-16px);
    }
    100% {
        opacity: 0;
        transform: translateY(-16px);
    }
}

// menu c&p

$base-transition: all .3s;
$long-transition: all .5s;
$nav-color: $color-secondary;
$nav-color-hover: #cfcfcf;
$nav-scroll-color: $color-secondary;
$nav-scroll-color-hover: rgba(0, 43, 56, .5);

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
	&.solid-overlay {
		background: rgba(37, 32, 31, .8);
	}
    &.white-solid {
        background: rgba(255, 255, 255, .9);
    }
    &.gradient-overlay {
	    background: linear-gradient(to bottom, rgba(0, 0, 0, .32) 0%, rgba(0, 0, 0, 0) 32%, rgba(0, 0, 0, .64) 100%);
	}
}

.top-header {
    position: fixed;
    z-index: 500;
    width: 100%;
    @media (min-width: 768px) {
        padding: 13px 0 0 34px;
    }
    &.after-scroll {
        padding-top: 0;
        box-shadow: 0 0 5px rgba(0, 0, 0, .2), 0 1px 0 rgba(255, 255, 255, .15);
        .overlay {
            opacity: 1;
        }
    }

    .logo {
        background-image: url('/images/logo-white-bg.svg');
        background-repeat: no-repeat;
        &.logo-dark {
            // background-position: 0 -1px;
        }
        &.logo-gray {
            // background-position: 0 -63px;
        }
        &.logo-light {
            // background-position: 0 -127px;
        }
    }

    .overlay {
        opacity: 0;
        transition: $base-transition;
    }
}

.icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    cursor: pointer;
    fill: #8b8b8b;
    transition: all .5s;
}

.logo-header {
    display: block;
    transform: translateY(20px);
    transition: $base-transition;
    @media (max-width: 767px) {
        transform: translateX(-45px);
    }
    .top-header.after-scroll & {
        transform: translateY(1px);
        @media (max-width: 767px) {
            transform: translateX(-45px);
        }
    }
    .logo {
        display: inline-block;
        float: left;
        width: 285px;
        height: 80px;
        margin-right: 20px;
        transform: scale(.7);
        vertical-align: middle;
         @media (max-width: 767px) {
            transform: scale(.6);
        }
    }
}
.logo-navbar {
    width: 185px;
    height: 60px;
    margin: 8px 20px 0 -10px;
    transform: scale(.6);
    vertical-align: middle;
}
nav {
    @media (max-width: 767px) {
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        visibility: visible;
        overflow: auto;
        width: 256px;
        height: 100%;
        transition: $long-transition;
        background: #fff;
        transform: translateX(-100%);
    }
    .st-menu-open & {
        transform: translate(0);
    }
    ul {
        float: right;
        margin: 0.4rem 0 0 0;
        padding: 0 1rem;
        list-style: none;
        text-align: left;
        transform: translateY(45px);
        transition: $base-transition;
        @media (max-width: 767px) {
            line-height: 20px;
            width: 95%;
            margin: 20px 0 0 5px;
            transform: translateY(0);
        }
        .top-header.after-scroll & {
            transform: translateY(20px);
            @media (max-width: 767px) {
                transform: translateY(0);
            }
        }
    }
    li {
        display: inline-block;
        padding: 0 8px;
        vertical-align: middle;
        @media (max-width: 767px) {
            display: block;
        }
        .btn {
            font-weight: $font-extra-bold;
            text-transform: uppercase;
            text-decoration: none;

            &.btn-dark {
                color: white !important;
                background-color: $color-secondary !important;
            }
        }
        a {
            font-size: 1rem;
            font-weight: $font-extra-bold;
            transition: $base-transition;
            text-transform: lowercase;
            color: $nav-color;
            @media (max-width: 767px) {
                font-size: 16px;
                display: block;
                padding: 13px 15px 13px 15px;
                transition: $base-transition;
                text-transform: none;
                color: rgba(0, 0, 0, .3);
                outline: 0;
            }
            &.current, &:hover {
                text-decoration: none;
                color: $nav-color-hover;
                @media (max-width: 767px) {
                    color: $color-main;
                }
            }
            .top-header.after-scroll & {
                color: $nav-scroll-color;
                @media (max-width: 767px) {
                    top: 20px;
                }
                &.current, &:hover {
                    color: $nav-scroll-color-hover;
                    @media (max-width: 767px) {
                        color: $color-main;
                    }
                }
            }
        }
    }
}
.right-nav-button {
    margin: 11px 11px 0 0;
    transition: $base-transition;
    opacity: 1;
    display: block;
    &:nth-of-type(1) {
        margin-right: 65px;
    }
    a {
        font-size: 1rem * 90 / 100;
    }
    &.right-nav-button-hidden {
        opacity: 0;
        transform: translateY(-50px);
    }
}
.icon-menu {
    width: 20px;
    height: 20px;
    fill: #e6e6e6;
    .top-header.after-scroll & {
        fill: #464646;
    }
}
.menu-trigger {
    font-size: 2rem;
    float: right;
    transform: translate(-30px, 10px);    
    transition: $base-transition;
}
.bottom-navlinks {
    position: absolute;
    bottom: 26px;
}
.bottom-navlinks-small {
    position: relative;
    bottom: 26px;
    margin-top: 75px !important;
}


// container

.st-content, .st-container, .st-pusher {
    height: 100%;
}
.st-content, .st-container, .st-content-inner {
    position: relative;
}
.st-pusher {
    position: relative;
    z-index: 99;
    left: 0;
    transition: $long-transition;
    &::after {
        position: fixed;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        content: '';
        transition: opacity .5s, width .1s .5s, height .1s .5s;
        opacity: 0;
        background: rgba(0, 0, 0, .2);
    }
    .st-menu-open &::after {
        z-index: 100;
        width: 100%;
        height: 100%;
        transition: opacity .5s;
        opacity: 1;
    }
}