// @import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
@import url('/vendor/offline.css'); 

// Third-party
// @import "../node_modules/bootstrap/scss/bootstrap.scss";

$font-light: 100;
$font-regular: 300;
$font-bold: 500;
$font-extra-bold: 700;
$color-main: #1bacb1;
$color-secondary: #002b38;

//animations
$base-duration: 1s !default;

@import "partials/base";
@import "partials/mixins";
@import "partials/helper";
@import "partials/navigation";
@import "partials/footer";
@import "partials/top-section";


@import "index-page.scss";

