<!DOCTYPE html>
<html lang="en">

    <head>        
        {{ $permalink := (.session.title | urlize) | printf "%s/sessions/%s.html" .Site.BaseURL  | printf "%s" }}        
        {{ partial "headers.html" (dict "Title" .session.title "Social" (dict "description" .session.abstract "opengraph" .session.opengraph) "Site" .Site) }}
    </head>

    <body>
        <div id="st-container" class="st-container disable-scrolling">
            <div class="st-pusher">
                <div class="st-content">

                <!-- Begin Top Section -->
                <section id="top-section" class="top-section image-section enable-overlay" 
                    style="background-image: url('/images/sections-background/duotone-speaker.jpg');">
                    <div class="overlay white-overlay"></div>
                    {{ partial "navigation.html" . }}

                    <div class="container">
                        <div class="jumbotron text-center">
                            <!-- animated hiding -->
                            <div class="" data-animation="fadeInLeft" data-delay="500">
                                {{ partial "conference-date.html" . }}
                            </div>
                        </div>
                    </div>                    
                </section>
                <!-- End Top Section -->

                <section id="session" class="session__section">
                    <div class="container session">
                        <div class="description">
                            <h1>
                            {{ range .session.speakers }}
                                <span>{{ .name }}</span>
                            {{ end }}
                            </h1>
        
                            {{ if .session.title }}
                            <div class="name">
                                <h3 class="title">
                                    {{.session.title}}
                                    {{ partial "language-flag.html" (dict "language" .session.language) }}
                                </h3>
                            </div>       
                            <div class="tags">
                            {{ range .session.tags }}
                                <span>#{{ . | urlize }}</span>
                            {{ end }}
                            </div>        
                            <div class="abstract">
                                {{ .session.abstract | replaceRE "[\n\r]" "<br />" }}
                            </div>
                            {{ end }}                         
                        </div>
                    </div>
                    <div class="container speakers py-3">
                        {{ range .session.speakers }}
                        <div class="speaker d-flex flex-column flex-md-row">
                            <div class="photo text-center">
                                <img src="/speakers/images/{{ .photo }}">
                            </div>
                            <div class="name px-3">
                                <h4>{{ .name }}</h4>
                                <div class="role">
                                    {{ .role }}{{ with .company}} at {{.}}{{end}}
                                </div>
                                <div class="bio">
                                    <span>
                                        {{ .bio | replaceRE "[\n\r]" "<br />" }}
                                    </span>            
                                </div>
                            </div>
                        </div>
                        {{ end }}
                    </div>
                </section>
                
                {{ partial "footer.html" . }}
                </div>
            </div>
        </div>
        {{ partial "scripts.html" . }}
    </body>

</html>