<section id="footer" class="footer__section">
    <div class="addresses container">
        <div class="row">
            <div class="pb-3 pb-md-0 col-12 col-md-3">
                <h5>Contact</h5>
                <div>
                    <div class="p-0 col-6">
                        <strong>Justyna Bień</strong><br>
                        conference manager<br>
                        <a href="mailto:justyna@segfault.events">justyna@segfault.events</a><br>
                        +48 533 600 164
                    </div>
                    <div class="col-6">
                    </div>
                </div>
            </div>
            <div class="pb-3 pb-md-0 col-12 col-md-3">
                <h5>Production</h5>
                <div>
                    <strong>Symentis Events sp z o.o.</strong><br>
                    Rynek Główny 28<br>
                    31-010 Kraków
                </div>
            </div>          
            <div class="link-list pb-3 pb-md-0 col-12 col-md-3">
                <ul>
                {{ range .Site.Pages.ByWeight }}
                    <li><a href="{{ .RelPermalink }}">{{ .Title | title }}</a></li>
                {{ end }}
                </ul>
            </div>
            <div class="social col-12 col-md-3 d-flex flex-row justify-content-center justify-content-md-end align-items-end">
                <a href="https://facebook.com/pozitivetech" target="_blank">
                    <i class="fa fa-facebook-square fa-3x"></i>
                </a>
                <a href="https://twitter.com/pozitivetech" target="_blank">
                    <i class="fa fa-twitter-square fa-3x"></i>
                </a>
                <a href="https://www.instagram.com/pozitivetechnologies/" target="_blank">
                    <i class="fa fa-instagram fa-3x"></i>
                </a>
                <a href="https://www.youtube.com/channel/UCk6NAzWkeejuCApTjKmrjgg" target="_blank">
                    <i class="fa fa-youtube fa-3x"></i>
                </a>

            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <hr>
                <span>&copy;2019. Symentis Events sp z o.o.</span>
                <span class="d-none d-md-inline">All rights reserved</span>
            </div>
        </div>
    </div>
</section>
