<header id="top-header" class="top-header">
    <div class="overlay white-solid"></div>
    <div id="menu-trigger" class="menu-trigger icon icon-menu d-md-none">
        &#8801;
    </div>
    <a href="/" id="logo-header" class="logo-header">
        <div class="logo d-none"></div>
    </a>
    <nav class="st-menu st-effect" id="menu">
        <a href="/"><div class="logo-navbar logo logo-dark d-md-none"></div></a>
        <ul>
            <li>
                <a class="" href="/speakers">speakers</a>
            </li>
            <li>
                <a class="" href="/#location">location</a>
            </li>
            <li>
                <a class="" href="/#partners">partners</a>
            </li>
            <li>
                <a class="" href="/#footer">contact</a>
            </li>
            <li>
                <a href="#registration" id="register-btn" class="btn btn-light">
                    Get tickets!
                </a>
            </li>
        </ul>
    </nav>
</header>