<div class="modal fade" id="registrationModal" tabindex="-1" role="dialog" aria-labelledby="registrationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="registrationModalLabel">pozitive.tech registration</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <iframe src="https://pozitive-tech-poznan-2019.konfeo.com/en/groups?iframe=1" frameborder="0" width="100%" scrolling="auto" style="min-height: 500px"></iframe>
            <script type="text/javascript" src="https://pozitive-tech-poznan-2019.konfeo.com/iframeResizer.min.js"></script>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          {{/*  <button type="button" class="btn btn-primary">Save changes</button>  */}}
        </div>
      </div>
    </div>
  </div>