<!DOCTYPE html>
<html lang="en">

    <head>
        {{ .Scratch.Set "headers-data" (dict "Social" (dict ) "Title" .Title "Site" .Site)}}
        {{ partial "headers.html" (.Scratch.Get "headers-data") }}
    </head>

    <body>
        <div id="st-container" class="st-container disable-scrolling">
            <div class="st-pusher">
                <div class="st-content">

                    <section id="hero" class="hero__index_section">
                        {{ partial "navigation.html" . }}

                        <div class="hero-content h-100 d-flex flex-column">
                            <div class="logo">
                                <img src="/images/logo-website.svg" alt="pozitive technologies 2019" />
                            </div>

                            <div class="flex-grow-1"></div>
                            <div>
                                <div>
                                    <div class="date text-center">
                                        <span class="text-nowrap">26th September</span> 2019
                                    </div>
                                    <div class="row">
                                        <div class="city text-center text-md-left p-0 col-xs-12 col-md-6 offset-md-6">
                                            Poznań
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-grow-1"></div>

                            <div class="hashtag p-3">
                                <div id="arrow-down" class="arrow-down text-center">
                                    <a href="#speakers"><img src="/images/icons/scroll-down.svg"></a>
                                </div>
                                <div class="text-right">
                                    #pozitivetech2019
                                </div>
                            </div>
                        </div>
                    </section>

                    <section id="speakers" class="speakers__index_section">
                        <div class="container text-center">
                            <h3>Speakers</h3>
                            <div class="d-none d-md-block col-md-8 offset-md-2">
                                We believe technology is not just about programming languages. It's about applying
                                different concepts, mixing paradigms - to achieve something better; a better system, a
                                better architecture, a better AI model.
                            </div>
                            <div class="pt-5 d-flex flex-wrap align-items-center justify-content-center">
                            {{ $baseUrl := .Site.BaseURL }}
                            {{ range first 3 (sort .Site.Data.sessions "track" "desc") }}
                                {{ $session := . }}
                                {{ range $session.speakers }}
                                    {{ $speaker := . }}
                                    <div class="speaker">
                                        <h4>{{ $speaker.name }}</h4>
                                        <img src="{{ $baseUrl }}/speakers/images/{{ $speaker.photo }}">
                                        <h5>#{{ index $session.tags 0 | urlize }}</h5>
                                    </div>    
                                {{ end }}
                            {{ end }}
                            </div>
                            <div class="pt-3 col-md-4 offset-md-4">
                                [ <a href="/speakers">see all speakers</a> ]
                            </div>
                        </div>
                    </section>

                    <section id="registration" class="registration__index_section">
                        <div class="container text-center">
                            <h3>Registration</h3>

                            <div id="ideas" class="ideas p-3 col-md-8 offset-md-2 d-none d-md-block">
                                <div class="p-1 col-6 text-left">
                                    <span>Come & Join pozitive.technologies</span>
                                    <hr>
                                    <ul>
                                        <li>Single day / Two tracks</li>
                                        <li>
                                            From <strong>software architecture</strong> to <strong
                                                class="text-nowrap">machine learning</strong> and
                                            <strong class="text-nowrap">artificial intelligence</strong>

                                        </li>
                                        <li>Over 15 speakers</li>
                                        <li><strong>State-of-the-art</strong> topics</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="tickets col-12 col-md-4 d-flex flex-column justify-content-center">
                                <div class="title px-2 text-left">tickets</div>
                                <div class="price text-md-nowrap">256 pln</div>
                                <div class="title px-2 text-right">+ VAT</div>
                            </div>

                            <div class="pb-3 pt-5 col-md-4 offset-md-4">
                                <a href="https://pozitive-tech-poznan-2019.konfeo.com/en/aga/49513" class="btn btn-dark"
                                    target="_blank">
                                    Proceed to registration
                                </a>
                            </div>

                        </div>
                    </section>

                    <section id="location" class="location__index_section">
                        <div class="container">
                            <div class="pb-3 text-center">
                                <h3>Location</h3>
                            </div>

                            <div id="address"
                                class="address p-3 col-md-8 offset-md-2 d-flex flex-column justify-content-between">
                                <div class="location p-0 col-6">
                                    <strong>Poznań Congress Center</strong><br>
                                    <small>ul. Głogowska 14</small><br>
                                    <small>60-734 Poznań, Poland</small>
                                </div>
                                <div>
                                    <a href="https://goo.gl/maps/Q8Gcn8yxLHJYXkhaA" target="_blank">
                                        [click here for maps]
                                    </a>
                                </div>
                            </div>

                            <div id="map" class="map d-none d-md-block py-3 col-6">
                                <a href="https://goo.gl/maps/Q8Gcn8yxLHJYXkhaA" target="_blank">
                                    <img src="/images/mapa.png">
                                </a>
                            </div>

                        </div>
                    </section>

                    <section id="partners" class="partners__index_section">
                        <div class="container text-center">
                            <div class="main">
                                <h3>Main organizer</h3>
                                <div class="px-0 py-3 col-12">
                                    <a href="http://www.poznan.pl/inwestycje/" target="_blank"><img
                                            src="/images/logos/poznan.png" alt="Logo Poznań"></a>
                                </div>
                            </div>

                            <div class="gold">
                                <h4>Gold co-organizers</h4>
                                <div class="d-flex flex-wrap align-items-center justify-content-center">
                                    <div>
                                        <a href="https://www.capgeminisoftware.pl/" target="_blank"><img
                                                src="/images/logos/logo_capgemini.png" alt="Logo CapGemini"></a>
                                    </div>
                                    <div>
                                        <a href="https://www.egnyte.com/jobs/jobs.html" target="_blank"><img src="/images/logos/logo_egnyte.png" alt="Logo Egnyte"></a>
                                    </div>    
                                    <div>
                                        <a href="https://gskit.pl" target="_blank"><img src="/images/logos/logo_gsk.png"
                                                alt="Logo GSK"></a>
                                    </div>
                                    <div>
                                        <a href="https://sii.pl/" target="_blank"><img src="/images/logos/logo_sii.jpg"
                                                alt="Logo Sii"></a>
                                    </div>
                                    <div>
                                        <a href="https://www.tomtom.com/pl_pl/" target="_blank"><img
                                                src="/images/logos/logo_tomtom.png" alt="Logo Tom Tom"></a>
                                    </div>    
                                </div>
                                <div>
                                    <h4>Silver co-organizers</h4>
                                    <div class="d-flex flex-wrap align-items-center justify-content-center">
                                        <div>
                                            <a href="https://allegro.pl/praca " target="_blank"><img src="/images/logos/logo_allegro.png" alt="Logo Allegro"></a>
                                        </div>    
                                        <div>
                                            <a href="https://sonalake.com" target="_blank"><img src="/images/logos/logo_sonalake.png" alt="Logo Sonalake"></a>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <h4>Bronze co-organizers</h4>
                                    <div class="d-flex flex-wrap align-items-center justify-content-center">
                                        <div>
                                            <a href="https://www.cognifide.com/" target="_blank"><img
                                                src="/images/logos/logo_cognifide.png" alt="Logo Cognifide"></a>
                                        </div>
                                    </div> 
                                </div>
                                <div class="media">
                                {{ with .Site.GetPage "page" "partners" }}
                                    <div class="community">                                        
                                        <h4>Communities</h4>
                                        <div class="d-flex flex-wrap align-items-center justify-content-center">
                                        {{ range .Resources.Match "community/*" }}
                                            {{ if .Params.url }}
                                                <a href="{{ .Params.url }}" target="_blank"><img src="{{ .RelPermalink }}"></a>
                                            {{ else }}
                                                <img src="{{ .RelPermalink }}">                                
                                            {{ end }}                                            
                                        {{ end }}
                                        </div>
                                    </div>
                                    {{/*  <div class="conferences">                                        
                                        <h4>Conferences</h4>
                                        <div class="d-flex flex-wrap align-items-center justify-content-center">
                                        {{ range .Resources.Match "conferences/*" }}
                                            <img src="{{ .RelPermalink }}">                                
                                        {{ end }}
                                        </div>
                                    </div>                                      */}}
                                {{ end }}
                                </div>
                            </div>
                        </div>
                    </section>

                    {{ partial "footer.html" . }}
                </div>
            </div>
        </div>

        {{ partial "scripts.html" . }}
    </body>

</html>