html, body {
    height: 100vh;
}

body {    
    color: white;
    font-family: 'Roboto Mono', monospace;    
}

a {
    color: $color-main;
    text-decoration: underline;
}

%base-section {
    padding-top: 6rem;
    padding-bottom: 6rem;

    @media (max-width : 767px) { 
        padding: 1rem;
        padding-top: 3rem;
    }
}

h1, h2, h3, h4, h5 {
    font-weight: $font-extra-bold;
    text-transform: lowercase;
}   

img {
    border: 0;
    margin: 0;
    padding: 0;
}

section {
    color: $color-content;

    h1, h2, h3, h4, h5 {
        color: $color-main;        
    }

    h1 {
        padding-top: 0.3em;
        padding-bottom: 0.3em;
        text-decoration: underline;

        @media (min-width: 767px) {
            padding-top: 1em;
        }
    }

    img[src*="city-images"] {
        border: 1px solid $color-secondary;
        border-radius: 4px;
        padding: 0.3em;        
        margin: 0 1em 1em 1em;
        float: right;

        @media (max-width: 767px) {
            max-width: 100%;
            height: auto;
            margin: 1em auto;
        }
    }

}

#registrationModal {
    h1, h2, h3, h4, h5 {
        font-size: 1em;
        color: $color-main;
    }
}

.hero-text {

    .date {
        color: white;
        font-weight: $font-bold;
        font-size: 5vw;

        @media (max-width : 767px) { 
            font-size: 6vw;
        }
    }
 
    .city {
        font-weight: $font-extra-bold;
        font-size: 6em;
        color: $color-main;
        margin-top: -0.4em;

        @media (max-width : 767px) { 
            margin-top: 0;    
            font-size: 4em;
        }
    }
}