
.footer__section {

    & {
        @extend %base-section;
        padding: 3rem;
        background-color: $color-secondary;        
    }

    .link-list {
        ul {
            list-style-type: none;
        }
    }

    .addresses {
        font-size: 0.6em;

        h5 {
            color: $color-main;
        }

        strong {
            color: $color-main;
        }    
    }

    hr {
        background-color: white;
        margin-bottom: 0 !important;
    }


    .social {
        img {
            filter: brightness(100);
            width: 3rem;
            height: 3rem;
        }
    }

}

