
.footer__section {
    color: white;
    font-size: 0.7em;

    & {
        @extend %base-section;
        padding: 3rem;
        background-color: $color-secondary;        
    }

    .link-list {
        ul {
            list-style-type: none;
            padding: 0;
        }
    }

    .addresses {

        h5 {
            color: $color-main;
        }

        strong {
            color: $color-main;
        }    
    }

    hr {
        background-color: white;
    }


    .social {
        i {
            color: white;
            margin: 0.2em;
        }
    }

}

