.session__section {
    color: $color-main;

    .session {

        h1, h2, h3, h4, h5 {
            text-transform: capitalize;
        }

        .description {
            padding-left: 0.5em;

            @media (min-width : 767px) { 
                padding-left: 1.5em;
                padding-right: 1em;    
            }
    
            .tags {
                span {
                    font-weight: $font-extra-bold;
                    font-size: 0.8em;
                }
            }

            .name {
                margin-top: 0 !important;
    
                h2.title {
                    border-left: 3px solid $color-secondary;
                    padding-left: 0.6em;
                }    
            }
    
            .abstract {
                margin-top: 1em;
                font-size: 0.9em;
                color: $color-content;            
            }    

            .video {
                margin: 1em auto;
                text-align: center;
            }
        }
    }

    .speakers {
        color: $color-content;

        .speaker {
            @media (min-width : 767px) { 
                padding-left: 1.5em;
                padding-right: 1em;    
            }
            
            h3 {
                text-transform: capitalize;
                color: $color-secondary;
            }

            .photo {
                margin-bottom: 1em;
    
                img {
                    border: 2px solid $color-main;
                    margin-bottom: 1em;
                    height: 350px;
                    width: 350px;                
                }    
            }

            .role {
                font-size: 0.9em;
                font-weight: $font-extra-bold;
            }
    
            .bio {
                font-size: 0.8em;
            }
    
        }    
    }

}

.speakers__section {
    color: $color-main;

    .speaker {
        border: 2px solid $color-main;

        h1, h2, h3, h4, h5 {
            text-transform: capitalize;
        }
    
        img {
            width: 100%;                
        }

        .name {
            h1, h2, h3, h4, h5 {
                margin: 0;
            }
        }

        .description > div {
            @media (min-width : 767px) { 
                padding-left: 1.5em;
                padding-right: 1em;    
            }
        }

        .description > * > div {
            margin-bottom: 1em;             
        }

        .role {
            font-size: 0.8em;
            color: $color-content;            
        }

        .session {
            border: 1px solid $color-main;
            padding-left: 0.6em;
            padding-top: 0.3em;
            padding-right: 0.3em;
            padding-bottom: 0.3em;

            h5 {
                border-left: 2px solid $color-main;
                font-size: 0.9em;
                padding-left: 0.6em;
                margin-bottom: 0;

                a {
                    color: $color-secondary;
                }

                a.youtube {
                    color: $color-main;
                }
            }
        }

        .tags {
            span {
                font-size: 0.8em;
            }
        }
    }
}