{{ define "main" }}

{{ $baseUrl := .Site.BaseURL }}
<section id="speakers" class="speakers__section">
    <div class="container text-center py-5">
        {{ range sort .Site.Data.sessions "track" "desc" "speakers.name"}}

        <!-- generate speaker pages from template -->
        {{ $filePath := printf "/sessions/%s.html" (.title | urlize) }}
        {{ $speaker_page := resources.Get "session-tpl.html" | resources.ExecuteAsTemplate $filePath . }}
        
        <div class="row mx-auto">
            <div class="col-12 col-md-8 offset-md-2">
                <div class="speaker my-3 d-flex">
                    <div class="photo mr-1 col-4 p-0 text-left">
                        <img src="{{ $baseUrl }}/images/{{ .speakers.photo }}">
                    </div>
                    <div class="description col-8 text-left">
                        <div class="h-100 d-flex flex-column justify-content-center">
                            <div class="name">
                                <h4>{{ .speakers.name }}</h4>
                                <div class="role">
                                    <span>
                                        {{ .speakers.role }}
                                    </span>
                                </div>        
                            </div>
                            {{ with .title }}
                            <div class="session">
                                <a href="{{ $speaker_page.Permalink }}"><h5>{{ . }}</h5></a>
                            </div>
                            {{ end }}
                            <div class="tags text-nowrap overflow-hidden">
                                {{ range .tags }}
                                <span>#{{ . | urlize }}</span>
                                {{ end }}
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</section>
{{ end }}